body {
  font-family: Arial, sans-serif;
  background: url("fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: rgba(68, 67, 67, 0.9);
  padding: 25px 35px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(68, 67, 67, 0.25);
  width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
}

h3 {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 24px;
}

label {
  display: block;
  margin: 10px 0 5px;
  text-align: left;
  color: #fffafa;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.botones {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.btn { 
  background: #2c2c43;
  color: #fff;
  border: none;
  position: relative;
  height: 40px;          
  font-size: 1em;        
  padding: 0 1.2em;      
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  border-radius: 6px;     
}

.liquid:hover {
  background: #fff;
  color: #2c2c43;
}

.liquid:before,
.liquid:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #2c2c43;
  transition: 400ms ease all;
}

.liquid:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.liquid:hover:before,
.liquid:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

#resultado {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color:    #ffffff;
}

footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
  font-family: Arial, sans-serif;
}